@import url("style.css");

/*.container {
  font-size: 18px;
}
.cv {
    width: 900px;
    margin: 40px auto;
    display: flex;
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

/* COLONNE GAUCHE 
.left {
    width: 35%;
    background-color: #1f2933;
    color: white;
    padding: 30px;
}

.left h1 {
    margin-top: 0;
    font-size: 26px;
}

.job {
    font-style: italic;
    margin-bottom: 30px;
}

.block {
    margin-bottom: 30px;
}

.block h3 {
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}

.block ul {
    padding-left: 20px;
}

/* COLONNE DROITE
.right {
    width: 65%;
    padding: 40px;
}

.right section {
    margin-bottom: 40px;
}

.right h2 {
    border-bottom: 2px solid #1f2933;
    padding-bottom: 5px;
}

@media screen and (max-width: 900px) {
    .cv {
        flex-direction: column;
        width: 95%;
    }

    .left, .right {
        width: 100%;
    }
}
 */