@import url("style.css");

/* Centre le contenu 
.soon-container {
    height: calc(100vh - 120px);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Bloc central
.soon-content {
    text-align: center;
} */